@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Zen+Kaku+Gothic+Antique&display=swap');

<<<<<<< HEAD
/* GLOBAL */
body {
    margin: 0 auto;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-align: center;
    max-width: 876px;
=======
body {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-align: center;
    max-width: 960px;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
}

.page-title {
    font-family: 'Nanum Pen Script', serif;
<<<<<<< HEAD
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 80px;
}

/* NAV */
#navbar {
    min-width: 100vw;
    height: 60px;
    position: absolute;
    margin: 0;
    left: 0;
    top: -5px;

    background-image: url('/static/imgs/banksy.png'), linear-gradient(
    90deg, rgb(255 255 255) 0%, rgba(255,176,0,1) 100%);
    background-repeat: round;
    background-size: contain;
    background-blend-mode: screen;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.nav {
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Nanum Pen Script';
    margin-top: 6px;
    letter-spacing: 1px;
    margin-left: 20px;
}

/* HOME PAGE */

#site-title {
    padding-top: 10px;
    margin-bottom: 18px;
}

=======
    font-size: 6vw;
    margin-bottom: 15px;
}

/* home page */
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
.doge-img-container {
    width: 100%;
}

<<<<<<< HEAD
#doge-img {
    object-fit: cover;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.info {
    margin: 10px;
}
=======
.doge-img {
    width: 15%;
    border-radius: 50%;
}

>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
.info-icon {
    position:relative;
}

.icon {
    font-size: 16px;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 175px;
    top: 100%;
    left: -150%;
<<<<<<< HEAD
    margin-left: -80px;

    padding: 5px 6px;
=======
    margin-left: -120px;

    padding: 5px 5px;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: left;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    margin-left: 111px;
    border: 5px solid;
    border-color: transparent transparent black transparent;
}

.page-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}


.info-icon:hover .tooltip {
    visibility: visible;

}

<<<<<<< HEAD
/* MAIN SEARCH */
.search {
    margin-top: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: min(20px, 2vw);
=======
/* main search */
.search {
    margin-top: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 2vw;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
}

#search-breed {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 2.5vw;
    margin-top:5px;
}

.search-text {
    margin: 6px;
}

.btn {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-radius: 6px;
    border-width: 2px;
    background-color: black;
    transition: .4s;
}

.search-btn {
    color: white;
<<<<<<< HEAD
    font-weight: 800;
    font-size: min(40px, 3vw);
=======
    /* #e3b97b; */
    font-weight: 800;
    font-size: 3vw;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
    font-family: 'Nanum Pen Script', serif;
}

.search-btn:hover {
    background-color: white;
    border-color: white;
    color: black;
    cursor: pointer;
}

.random-btn {
    background: linear-gradient(to right, #E68787 0%, #E3BE7B 20%, #8CE1B8 40%, #96D1EB 60%, #9194E3 80%, #DF9BE4 100%);
    border-color: linear-gradient(to right, #E68787 0%, #E3BE7B 20%, #8CE1B8 40%, #96D1EB 60%, #9194E3 80%, #DF9BE4 100%);
    color: black;
<<<<<<< HEAD
    font-size: min(5vw, 50px);
=======
    font-size: 5vw;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
    font-weight: 600;
    font-family: 'Nanum Pen Script', serif;
    border-color: antiquewhite;
}

.random-btn:hover {
    background: linear-gradient(to left, #E68787 0%, #E3BE7B 20%, #8CE1B8 40%, #96D1EB 60%, #9194E3 80%, #DF9BE4 100%);
    cursor:pointer;
}

<<<<<<< HEAD
/* GALLERY */
=======
/* movie dog imgs */
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
.doge-imgs {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;

}
.movie-dogs-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.movie-dog {
    width: 20%;
    padding-top: 18%;
    border: none;
    color: transparent;
    background-size: 105% !important;
<<<<<<< HEAD
    cursor: pointer;

}

/* SEARCH RESULT */
=======

}




/* search result */
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
.info-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.breed-img-container {
<<<<<<< HEAD
    width: 35%;
=======
    width: 30%;
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
}

.breed-img {
    border-radius: 6px;
    width: 90%;
}

.breed-facts {
    border: 2px solid gray;
    border-radius: 6px;
    padding: 25px;
    text-align:left;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: #F8F4E0;
}

.fact-labels {
    font-weight: bold;
}
.breed-facts-legend {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
}

<<<<<<< HEAD
.breed-wiki-text {
    max-width: 690;
}

=======
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
.search-bar {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: flex-end;
<<<<<<< HEAD
    margin-top: 10px;
=======
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
}
.similar-breeds-content {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 25px;
    background-color: #F8F4E0;
}

.similar-legend {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
}
.breed-btn {
    background-color: transparent;
    border-style: none;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
}

.breed-btn:hover {
    cursor:pointer;
<<<<<<< HEAD
}

.search-prompt {
    margin-bottom: 0;
}

/*

=======
}
>>>>>>> 5095ac574e87f03b28fba8b6e4878b28cd403e78
