{% extends 'base.html' %}

{% block head %}
<title>AKC Dog Breed Explorer</title>
{% endblock %}

{% block body %}

<h1 class="page-title" id="site-title">AKC Dog Breed Explorer</h1>
<div class="page-text">
    <h2 class="info">Welcome to the AKC (American Kennel Club) Dog Breed Explorer!</h2>
        <div class="info-icon">
            <h2 class="icon info">&#9432;</h2>
            <span class="tooltip">To view info about an AKC dog breed, you can:<br>i. search for a breed by name<br>ii. use the button to view a random breed<br>iii. click on one of the dogs at the bottom of the page to view its breed</span>
        </div>
</div>
<div class="doge-img-container">
    <img class="doge-img" src="/static/imgs/cosi5.JPG">
</div>

<div class="search">
    <form action="/search" method="post">
        <label for="search-breed">Enter a breed name: </label>
        <br>
        <input type="text" name="search-breed" id="search-breed">
        <input type="submit" class="btn search-btn" value="SEARCH">
    </form>
    <p class="search-text">or</p>
    <form action="/random" method="post">
        <input type="submit" id="gen-rand" class="btn random-btn" value="View Random Breed">
    </form>
</div>

{% endblock %}