{% extends 'base.html' %}

{% block head %}
<title>Breed Not Found</title>
{% endblock %}

{% block body %}

<div class="spacer"></div>
<div class="doge-img-container">
    <img class="doge-img" src="/static/imgs/cosi5.JPG">
</div>
<h2 class="error-message">"{{search}}" did not match any AKC Breeds. Please try again.</h2>
<div class="search">
    <form action="/search" method="post">
        <label for="search-breed">Enter a breed name: </label>
        <br>
        <input type="text" name="search-breed" id="search-breed">
        <input type="submit" class="btn search-btn" value="SEARCH">
    </form>
    <p class="search-text">or</p>
    <form action="/random" method="post">
        <input type="submit" id="gen-rand" class="btn random-btn" value="View Random Breed">
    </form>
</div>
{% endblock %}