{% extends 'base.html' %}

{% block head %}
<title>Breed Not Found</title>
{% endblock %}

{% block body %}
<div class="spacer"></div>
</div><div class="doge-img-container">
    <img class="doge-img" src="/static/imgs/cosi.jpg">
</div>
<h2>"{{search}}" did not match any AKC Breeds. </h2>
<fieldset class="similar-breeds-content">
    <legend class="similar-legend">Did you mean...</legend>
    <form action="/similar" method="post">
        <input type="submit" name="similar-breed-btn" class="breed-btn" value="{{similar1}}"><br>
        <input type="submit" name="similar-breed-btn" class="breed-btn" value="{{similar2}}"><br>
        <input type="submit" name="similar-breed-btn" class="breed-btn" value="{{similar3}}"><br>
    </form>
</fieldset>

<h3 class="similar-prompt">Not what you were looking for? Try a new search or view a random breed!</h3>
<div class="search">
    <form action="/search" method="post">
        <label for="search-breed">Enter a breed name: </label>
        <br>
        <input type="text" name="search-breed" id="search-breed">
        <input type="submit" class="btn search-btn" value="SEARCH">
    </form>
    <p class="search-text">or</p>
    <form action="/random" method="post">
        <input type="submit" id="gen-rand" class="btn random-btn" value="View Random Breed">
    </form>
</div>
{% endblock %}